#    This file is part of the ChannelAutoForwarder distribution (https://github.com/xditya/ChannelAutoForwarder).
#    Copyright (c) 2021 Adiya
#    
#    This program is free software: you can redistribute it and/or modify  
#    it under the terms of the GNU General Public License as published by  
#    the Free Software Foundation, version 3.
# 
#    This program is distributed in the hope that it will be useful, but 
#    WITHOUT ANY WARRANTY; without even the implied warranty of 
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU 
#    General Public License for more details.
# 
#    License can be found in < https://github.com/xditya/ChannelAutoForwarder/blob/main/License> .

# Do not copy the license into the .env file
# Do not use quotes (") in the values.

APP_ID=2882240
API_HASH=9fdd5d0301d5ac2172a693d085af1a8c
BOT_TOKEN=1665093121:AAGOdxlR7-cHN7cee4rE96eLyvGQjsWPd5c
FROM_CHANNEL=-1001445731913
TO_CHANNEL=-1001242491853
